<div class="content-modal" [@fadeInLOutR]="in">
    <app-header title="设置"></app-header>
    <div class="content">
        <div class="scroll-content" margin-top>
            <p>
                幻城 空城 伤城 迷城 傻傻的梦想，渐渐地消失在这个无法言喻的世界，有谁敢说自己的青春没有回忆？我们都这样懵懂的前行着，任自己的梦想都泛滥在时光里，慢慢地变得像沙漠里渺小的尘埃。痴痴地等待，到最后也难免被内心的渴望打败自己强加的桎梏，任自己的誓言滴落到尘埃里，慢慢地变得像雨后里一瞬的彩虹。
                青春的动人之处在于我们无法控制自己本真的想法，不用受世俗的羁绊而去做自己喜欢的事情。心一跳，恍如相见恨晚，只是我们都不知道谁又能陪谁走多远？渐行渐远的时间把流年的爱一点一点的消磨干净，剩下的会是什么？也许这就是当下现实中原来的自己，虽曾渴望那样的你，但还是喜欢最真的你。
                最执着的梦想——幻城 这是一个迷人的城市，繁华而充满现代的气息，纸醉金迷的生活被这夜晚的霓虹印衬得格外的迷人。高耸入云的摩天大厦让人应接不暇，渴望登上最高的那座巅峰。不懂事的乌贼羹跟着父母来到了这个颠覆自己思维模式而陌生的城市，开始背负父母年少时的遗憾，他们把所有的希望都寄托到了这座城。对于这里的一切来说对于年幼的乌贼都显得那么的陌生，那么的格格不入，无法通过他们的语言来交流，也无法融入这个梦幻的地方。土生土长的乌贼开始排斥这里的一切，甚至恐惧一张张不懈的眼神下的脸。
                梦想对于他来说，就像一块诱人的蛋糕，催促着内心强大的自己，不能再这样的下去，唯有打破自己给自己强加的桎梏，勇敢前行才对！就这样艰难的熟悉这陌生的城。不断的学习这里的一切，不断的适应着这里生活，学习他们的一切。开始好奇他们的生活方式和习惯，对于来自两个不同地区的人来说，最有趣的的事莫过于相互交互彼此的风俗习惯。
                一转眼，他来到这座陌生的城已经七年了，这里的一切对于他来说就像是自己的第二个故乡，在这里他度过了他的童年，体验了一个外来者的艰辛和不舍，收获了一个梦幻的童年。 一场离别写在了回忆里，一只鸟 相遇了一只鱼萌发春天的气息。蓝蓝的天空上飞翔着遥远的幻梦，浅浅的海里游弋着不舍的喜欢。相似的电影画面出现在了乌贼的生活里，就像一个传说那样懵懂着每一个年幼的孩子，那场离别没有太多的对白，只有梦里的花开花落。多年后，乌贼才知道，那只叫做蓝瑷琳的鱼也曾喜欢过那只叫做乌贼羹的鸟……
                最美丽的记忆——空城 习惯是人这一辈子最难摆脱的噩梦，回到儿时出生的地方对于乌贼来说就像一张没有任何痕迹的白纸，感觉自己本不属于这里，连这同一片的天空都觉得陌生。一瞬间，像是梦想磨碎后的声音敲击着身体里的每一根骨头，撕裂的声音让他感到前所未有的痛。他曾默默地问过自己，这里真的属于自己吗？和他在一起的很多人都问过他你到底是不是这里的人，他只一笑而过。就像很多年前那样的自己，背负父母的殷切的希望和梦想继续行走在人生的路上。
                那些年，我们都曾幻想自己每次换座位的时候能够坐到自己喜欢的人的周围；那些年，我们都曾被压抑的情感寄托到试卷里；那些年，我们都曾忘乎所以的埋头学习，梦想大学里美好生活；那些年，我们挥汗如雨的奔跑在烈日下忘我的打球；那些年，为了自己的梦想放弃的太多不舍。除了学习，没有太多的回忆，可每一次记忆的冲撞都会深深地触动心田，乌贼畅想着自己的未来，痴痴地等待着那只鱼。谁知道，一个小小的女生一不小心就走进了他的心，偶尔的回眸就足以让他欣喜不已，不巧的相遇改变这个想要远航的孩子。他曾以为这一辈子会在她的世界里游离到荒芜，谁知道，另一个记忆又将开始了……
                两年，三年……到了离开的时候了。 时间却总爱开玩笑的，乌贼已到了毕业的年级了，一天三点一式的生活占满了他的生活，每当天黑，他总和室友看似学习却谈天说地，想想自己的未来，说说彼此的过去，感叹这时光走的如此的快！想起刚来时的彼此的模样，他们不禁的笑了，不知是笑这时间的残忍还是我们曾经的年轻？
                他们走了，独留下了这座城，开始彼此另一个地方的路途，另一个梦想。也许，这城并没有空，只是他们的心空了，好像失去了什么，又好像有什么东西割舍了，而后依然有另一群孩子填满这座城。 最迷茫的成长——伤城 梦醒了，搁浅了，才发现自己是多么的渺小。乌贼迷茫了，面对未来的不知，行走在这座对于自己陌生的城，有点心灰意冷，不知道该如何迈出下一步。常常安慰自己，活在当下就好了。谁知道，当下还是一样的艰难，也许是长大了想的就多了。好像伸手把梦想拥抱，却发现梦想早已消失得无影无踪了，曾让他们渴望的大学也不过如此，一次又一次的冲击着看似坚强的心。生命越往后走就越荒芜，这句话一点也不假。我们都曾懂得道理，可到了自己这儿就显得那么的苍白无力。
                乌贼停靠在一只风帆上，却又有点不舍得离去了。让他知道了，什么叫做心碎的声音，让他知道了，不是每一种花开都有结果，让他知道了，有时候放弃也是必须的，让他知道了，可以言语的爱情不是爱情。不用担心，就算是真的是搁浅记忆，还是有一个人站在回忆里等你，不用担心，就算再荒芜的人海，还是有一个人站在未来里等你。
                他和自己的好基友们享受着这激情燃烧的岁月，历练自己的毅力。经历多了才知道，只有拥有一颗欣赏时光的心，才能奔跑赢岁月。保持一颗轻盈的心到了荒芜处也能听到花开的声音。 最苦苦的追寻——迷城 没想到，时间的指针奔跑的如此之快！想要回首，却早已离开那些时光很远很远了。毕业了，也许是他埋在骨子里的自由在作祟，乌贼羹来到了另一座陌生的城市。自以为了无牵挂的他，放开自己的双手想要去追寻什么，却越走越远......
                外面的世界很大，是不是该出去看看呢？ 外面的世界很无奈，是不是该回家看看呢？陌生的城市总是让人怀念；陌生的城市总是让人思念。乌贼羹走着走着就停了，不知道下一个地点会在哪里。也不知道自己到底在追寻什么，难道只是单纯的生活？以后的以后谁又会知道呢？乌贼在外面久了，才发现自己的牵挂，才发现自己并不是那么坚强。也许他会一直这样到处漂泊，也许他会一直这样苦苦的追寻，就算迷失在城市里。
                朋友们，一次又一次的离别，虽感慨万分，难道不是为了下次更好的相遇吗？难道不是为了一份最坚定的约定吗？ 幻城止，心随花开；空城溢，情随境迁；伤城逝，事随人为；迷城开，倾尽此生。
            </p>
        </div>
    </div>
</div>
